

#top-header  h2 {
  position: relative;
}




#top-header {
   height: 400px;
  width: 100%;
  background-color: grey  ;
  background-image: url("../images/foggy-birds.png"); 
  position: relative;
  margin-top: 120px;

} 



#top-header  div {
  text-align: center;
  position: relative;
}



#top-header  img {
  margin-top: 20px
}



@media only screen and (min-width: 1024px) {
  #top-header {
    height: 400px;
    width: 30%;
    background-color: grey;
    background-image: url("../images/foggy-birds.png");  
    position: fixed;
    margin-top: 250px;
    margin-left: 50px;
    display: block
  }
}

