


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFF;
  z-index: 1000;
  padding: 1.5em
}


nav span {
  font-family: "Bungee", sans-serif;
}


nav .write-new-tweet {
  color: white;
  outline: none; 
  background: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  float: right;
  opacity: 1;
  opacity: 0.5;
}


nav .write-new-tweet:hover {
  opacity: 1;
}